{% extends 'base.html.twig' %}

{%  block title %}Order list{% endblock %}

{% block body %}
    <h2>Order list</h2>

    {%  if total > 0 %}
        <p>There are {{ total }} orders:</p>

        <table class="table">
            <thead class="thead-dark">
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Summ</th>
            </thead>
            {% for order in orders %}
                <tr>
                    <th scope="row">{{ order.id }}</th>
                    <td>{{ order.email }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.summ }}</td>
                </tr>
            {% endfor %}
        </table>

        {% if previous >= 0 %}
            <a class="btn btn-primary" href="{{ path('index', { offset: previous }) }}" role="button">Previous</a>
        {% endif %}
        {% if next < total %}
            <a class="btn btn-primary" href="{{ path('index', { offset: next }) }}" role="button">Next</a>
        {% endif %}
    {% else %}
        <div>No comments have been posted yet for this conference.</div>
    {% endif %}
{% endblock %}
